* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.body {
  background: #303234;
  font-family: "Montserrat, sans-serif";
  min-height: 100vh;
  height: auto;
  width: 100vw;
}

.header {
  height: 80px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

.nav-link {
  text-transform: uppercase;
}

.navColor {
  background-color: #6c91ac;
}
.navColor .miLogo {
  width: 10%;
}

.fa-facebook {
  background-color: rgb(232, 234, 240);
}

.fa-instagram {
  background-color: rgb(227, 166, 244);
}

.fa-whatsapp {
  background-color: rgb(25, 190, 72);
}

.misIconos {
  font-size: 200%;
}

.fondo {
  width: 100%;
  height: 83vh;
  background: linear-gradient(to right, rgba(31, 27, 27, 0.5), rgba(90, 89, 89, 0.5)), url("../imagenes/index-imagen.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.fondo .titulo {
  font-weight: bold;
  color: rgb(234, 227, 227);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  text-shadow: 3px 3px 0 rgb(5, 7, 8);
  padding-top: 10%;
  margin: auto;
}
.fondo .miParrafo {
  font-size: 30px;
  color: rgb(234, 227, 227);
  justify-content: space-around;
  align-items: flex-center;
  flex-direction: column;
  overflow: auto;
  text-align: center;
  font-weight: bold;
  text-shadow: 3px 3px 0 rgb(11, 9, 9);
  padding-top: 5%;
  margin: auto;
}

.contenido-card {
  display: grid;
  grid-template-columns: 1fr repeat(12, minmax(auto, 60px)) 1fr;
  grid-gap: 40px;
  padding: 60px 0;
}
.contenido-card .text--medium {
  font-family: "Montserrat, sans-serif";
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
  color: #0a0b0b;
}

.cards {
  grid-column: 2/span 12;
  display: grid;
  grid-template-columns: repeat(12, minmax(auto, 60px));
  grid-gap: 40px;
}

.card {
  grid-column-end: span 4;
  display: flex;
  flex-direction: column;
  background-color: #39393b;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.card:hover {
  transform: translateY(-7px);
}

.card__image-container {
  width: 100%;
  padding-top: 56.25%;
  overflow: hidden;
  position: relative;
}

.card__image-container img {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card__content {
  padding: 20px;
}
.card__content .card__title {
  margin-bottom: 20px;
}
.card__content .card__info {
  display: flex;
  align-self: end;
  align-items: center;
}

@media only screen and (max-width: 1000px) {
  .card {
    grid-column-end: span 6;
  }
}
@media only screen and (max-width: 700px) {
  main {
    grid-gap: 20px;
  }
  .card {
    grid-column-end: span 12;
  }
}
@media only screen and (max-width: 500px) {
  main {
    grid-template-columns: 10px repeat(6, 1fr) 10px;
    grid-gap: 10px;
  }
  .cards {
    grid-column: 2/span 6;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 20px;
  }
  .card {
    grid-column-end: span 6;
  }
}
.portada {
  background-image: url("../imagenes/fotoformulario.jpg");
  height: 80vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.portada .textoportada {
  display: flex;
  justify-content: center;
  align-items: center;
}
.portada .formulario {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 30px;
}
.portada form {
  width: 450px;
  background: rgba(0, 0, 0, 0.4);
  padding: 10px 20px;
  box-sizing: border-box;
  margin-top: 20px;
  border-radius: 7px;
  flex-direction: column;
}
.portada form .contacto {
  color: #fff;
  text-align: center;
  margin: 0;
  font-size: 30px;
  margin-bottom: 20px;
}
.portada form input,
.portada form textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 7px;
  box-sizing: border-box;
  font-size: 17px;
  border: none;
}
.portada form input textarea,
.portada form textarea textarea {
  min-height: 100px;
  max-height: 200px;
  max-width: 100%;
}
.portada form #boton {
  background: #31384a;
  color: #fff;
  padding: 20px;
}
.portada form #boton:hover {
  cursor: pointer;
}

@media (max-width: 480px) {
  form {
    width: 100%;
  }
}
.miGradiante {
  background: rgb(247, 246, 244);
  background: linear-gradient(90deg, rgb(247, 246, 244) 0%, rgb(247, 229, 193) 7%, rgb(247, 229, 193) 16%, rgb(231, 205, 109) 33%, rgb(190, 206, 135) 45%, rgb(207, 191, 145) 58%, rgb(223, 236, 166) 80%, rgb(237, 236, 168) 96%, rgba(242, 241, 234, 0.6951155462) 100%);
  font-size: 150%;
  max-width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.miSection {
  height: 75vh;
}

img.img-fluid:hover {
  scale: 1;
  transition: auto;
  transform: scale(1.2);
  cursor: pointer;
}

.img-fluid {
  max-width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 500px) {
  img.img-fluid:hover {
    transition: none;
    transform: none;
  }
}
.miContainer4 {
  height: 55vh;
  position: relative;
}

.escrito {
  color: white;
  font-weight: bold;
  font-size: 150%;
  margin: auto;
  padding: 2%;
  text-align: center;
  justify-content: center;
}

@media screen and (max-width: 500px) {
  .miContainer4 {
    height: 25vh;
  }
}

/*# sourceMappingURL=style.css.map */
