* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.body {
  background: $maincolor;
  color: rgb(13, 13, 13);
  font-family: $fontmontserrat;
  min-height: 100vh;
  height: auto;
  width: 100vw;
}
