.header {
  background-color: #9ca7b6;
  height: 80px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}
.nav-link {
  text-transform: uppercase;
}
.navColor {
  background-color: #6c91ac;
  .miLogo {
    width: 10%;
  }
}
