.fondo {
  width: 100%;
  height: 84vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, rgb(0 0 0/ 0.5), rgb(0 0 0/ 0.5)),
    url("../imagenes/index-imagen.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  .fondo-texto {
    width: 35%;
    text-align: center;
    font-weight: bold;
    margin-bottom: 10%;
    color: rgb(234, 227, 227);
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    overflow: auto;
    .miParrafo {
      font-size: 25px;
    }
  }
}
