.miGradiante {
  background: rgb(247, 246, 244);
  background: linear-gradient(
    90deg,
    rgba(247, 246, 244, 1) 0%,
    rgba(247, 229, 193, 1) 7%,
    rgba(247, 229, 193, 1) 16%,
    rgba(231, 205, 109, 1) 33%,
    rgba(190, 206, 135, 1) 45%,
    rgba(207, 191, 145, 1) 58%,
    rgba(223, 236, 166, 1) 80%,
    rgba(237, 236, 168, 1) 96%,
    rgba(242, 241, 234, 0.6951155462184874) 100%
  );
  font-size: 150%;
  display: flex;
  justify-content: center;
  align-items: center;
}

img.img-fluid:hover {
  scale: 1;
  transition: auto;
  transform: scale(1.8);
  cursor: pointer;
  display: flex;
  justify-content: center;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}
@media screen and (max-width: 500px) {
  img.img-fluid:hover {
    transition: none;
    transform: none;
  }
}
