.miContainer4 {
  height: 55vh;
  position: relative;
}
.escrito {
  color: white;
  font-weight: bold;
  font-size: 150%;
  margin: auto;
  padding: 2%;
  text-align: center;
  justify-content: center;
}

@media screen and (max-width: 500px) {
  .miContainer4 {
    height: 25vh;
  }
}
